body {
  width: 100%;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  /* font-family: "Roboto Serif", serif; */
}

.header {
  background-color: #000;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.header__inner {
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo__title {
  color: #fff;
  font-family: "Roboto Serif", serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header__menu-item {
}

.header__menu-link {
  font-size: 20px;
  line-height: 26px;
  color: #fbfbfb;
}

.header__btn {
  padding: 12px 15px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -3%;
  color: #0c0c0c;
  opacity: 0.9;
  background-color: #fbfbfb;
  border-radius: 23px;
}

/* hero */

.hero {
  background-color: #000;
  position: relative;
}

.hero__image-left {
  position: absolute;
  top: 90px;
  left: 0;
}

.hero__inner {
  padding: 140px 0 120px;
  position: relative;
}

.hero__image {
  position: absolute;
  top: 150px;
  right: 20px;
}

.hero__title {
  margin-bottom: 24px;
  width: 610px;
  font-family: "Roboto Serif", serif;
  color: #fbfbfb;
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
}

.text-green {
  color: #64ccc5;
}

.hero__subtitle {
  margin-bottom: 32px;
  width: 550px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -3%;
  color: #fbfbfb;
}

.hero__btn-trial {
  margin-bottom: 180px;
  padding: 11px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 23px;
}

.hero__brands-title {
  margin-bottom: 5px;
  font-family: "Roboto Serif", serif;
  font-size: 600px;
  font-size: 20px;
  line-height: 23px;
  color: #64ccc5;
}

.hero__brans-list {
  margin-left: -15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

hero__brans-item {
}

/* services */

.services {
  background-color: #fff;
}
.services__inner {
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__subtitle {
  margin-bottom: 24px;
  font-family: "Roboto Serif", serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: #64ccc5;
}

.services__title {
  margin-bottom: 80px;
  width: 695px;
  font-family: "Roboto Serif", serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}

.services__box {
  color: #0c0c0c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 66px;
  grid-row-gap: 80px;
}

.services__item {
  padding: 45px;
  width: 422px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #0c0c0c;
  cursor: pointer;

  &:hover {
    color: #f4f4f4;
    background-color: #0c0c0c;
  }
}

.services__item:hover .svg-inner {
  stroke: #000;
}

.services__item:hover path {
  fill: #fff;
}

.services__item-title {
  margin-top: 62px;
  font-family: "Roboto Serif", serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.services__item-text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -3%;
}
